*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 900px;
  margin: auto;
  background-color: red;
}

header{
  height: 200px;
  background-color: yellow;
}
