*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:'';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

body{
  background-color: lightgrey;
}

.container{
  width: 900px;
  margin: auto;
}

header{
  height: 300px;
  margin-top: 15px;
  background-color: yellow;
}

.container main{
  margin: 10px 0;
}

main .col-left{
  height: 350px;
  width: 20%;
  background-color: green;
  border-radius: 5px;
}

main .col-center{
  height: 300px;
  width: calc(60% - 80px);
  margin: 0 40px;
  background-color: red;
  border-radius: 5px;
}

main .col-right{
  width: 20%;
}

.block{
  height: 250px;
  background-color: orange;
  margin-bottom: 30px;
  border-radius: 5px;
}

footer{
  height: 120px;
  margin-bottom: 15px;
  background-color: blue;
  border-radius: 5px;
}
